// 樱花飘落 css
#canvas_sakura{text-shadow: 0 0 1px rgba(0,0,0,.1);
color: #ee9ca7;
font-size: 15px;
line-height: 1.5;
cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto;
font-family: 'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
box-sizing: border-box;
display: inline-block;
vertical-align: baseline;
position: fixed;
left: 0;
top: 0;
pointer-events: none;}
